

h1{

}
div{
    align-items: center;
width: 320px;
padding: 10px;
border: 5px ;

margin: auto;
      
}
input[type=number] {
    border: 2px solid rgb(95, 170, 95);
    border-radius: 4px;
    
  }
  input[type=button]{
      border: 2px red;
      border-radius: 4px;
      margin:auto;
  }